<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/slick/slick.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/slick/slick-theme.min.css}" />

<link href="/vendor/icons/feather.css" rel="stylesheet" type="text/css">

<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/style.css" rel="stylesheet">

<link href="/vendor/sidebar/demo.css" rel="stylesheet">

</head>

<body class="fixed-bottom-bar">

	<footer class="uJf1WK" style="border-top: 4px solid #ee4d2d;">
		<div class="jP2PzH">
			<div class="ibAPxC">
				<div class="PuXQrZ">
					<div class="JMCbqu">CHĂM SÓC KHÁCH HÀNG</div>
					<ul class="SOb2n7">
						<li class="o8Gbgv"><a href=""
							class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><span
								class="xTjlXx">Trung Tâm Trợ Giúp</span></a></li>
						<li class="o8Gbgv"><a href=""
							class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><span
								class="xTjlXx">FandaFood Blog</span></a></li>

						<li class="o8Gbgv"><a
							href=""
							class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><span
								class="xTjlXx">Hướng Dẫn Mua Hàng</span></a></li>
						<li class="o8Gbgv"><a
							href=""
							class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><span
								class="xTjlXx">Hướng Dẫn Bán Hàng</span></a></li>
						<li class="o8Gbgv"><a
							href=""
							class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><span
								class="xTjlXx">Thanh Toán</span></a></li>

						<li class="o8Gbgv"><a
							href=""
							class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><span
								class="xTjlXx">Vận Chuyển</span></a></li>
			
			
				
					</ul>
				</div>
				<div class="PuXQrZ">
					<div class="JMCbqu">VỀ CHÚNG TÔI</div>
					<ul class="SOb2n7">
						<li class="o8Gbgv"><a href=""
							class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><span
								class="xTjlXx">Giới Thiệu</span></a></li>
						<li class="o8Gbgv"><a href=""
							class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><span
								class="xTjlXx">Tuyển Dụng</span></a></li>
						<li class="o8Gbgv"><a
							href="" class="FA0WjS"
							title="" target="_blank" rel="noopener noreferrer"><span
								class="xTjlXx">Điều Khoản</span></a></li>
						<li class="o8Gbgv"><a
							href="" class="FA0WjS"
							title="" target="_blank" rel="noopener noreferrer"><span
								class="xTjlXx">Chính Sách Bảo Mật</span></a></li>
			
						<li class="o8Gbgv"><a href=""
							class="FA0WjS" title="" target="_blank" rel="noopener noreferrer"><span
								class="xTjlXx">Super Sales</span></a></li>
			
					</ul>
				</div>
				<div class="PuXQrZ">
				<!-- <img alt="#" src="/user/img/logofter.png" > -->
				 <div class="JMCbqu">THANH TOÁN</div>
					<ul class="D7qxb9">
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/d4bbea4570b93bfd5fc652ca82a262a8"
								alt="logo"></a></li>
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/a0a9062ebe19b45c1ae0506f16af5c16"
								alt="logo"></a></li>
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/38fd98e55806c3b2e4535c4e4a6c4c08"
								alt="logo"></a></li>
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/bc2a874caeee705449c164be385b796c"
								alt="logo"></a></li>
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/2c46b83d84111ddc32cfd3b5995d9281"
								alt="logo"></a></li>
			

					</ul>
					<div class="JMCbqu wTATIi">ĐƠN VỊ VẬN CHUYỂN</div>
					<ul class="D7qxb9">
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/5e7282bd0f7ee0872fdb0bd1d40fbe9e"
								alt="logo"></a></li>
			
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/77bf96a871418fbc21cc63dd39fb5f15"
								alt="logo"></a></li>
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/59270fb2f3fbb7cbc92fca3877edde3f"
								alt="logo"></a></li>
					
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/0d349e22ca8d4337d11c9b134cf9fe63"
								alt="logo"></a></li>
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/3900aefbf52b1c180ba66e5ec91190e5"
								alt="logo"></a></li>
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/6e3be504f08f88a15a28a9a447d94d3d"
								alt="logo"></a></li>
						<li class="uqMJQA"><a target="_blank"
							rel="noopener noreferrer" class="_2pbE-b"><img
								src="https://cf.shopee.vn/file/b8348201b4611fc3315b82765d35fc63"
								alt="logo"></a></li>

					</ul>
				</div>
				<div class="PuXQrZ">
				<div class="JMCbqu">ĐỊA CHỈ CÔNG TY</div>
				<p class="o8Gbgv">288 Nguyễn Văn Linh, phường An Khánh, quận Ninh Kiều, TP Cần Thơ</p>
				</div>
				<div class="PuXQrZ">
					<div class="JMCbqu">THEO DÕI CHÚNG TÔI TRÊN</div>
					<ul class="SOb2n7">
						<li class="o8Gbgv"><a href="" class="FA0WjS" title=""
							target="_blank" rel="noopener noreferrer"><img
								class="_6ZyW8Y"
								src="https://cf.shopee.vn/file/2277b37437aa470fd1c71127c6ff8eb5"><span
								class="xTjlXx">Facebook</span></a></li>
						<li class="o8Gbgv"><a href="" class="FA0WjS" title=""
							target="_blank" rel="noopener noreferrer"><img
								class="_6ZyW8Y"
								src="https://cf.shopee.vn/file/5973ebbc642ceee80a504a81203bfb91"><span
								class="xTjlXx">Instagram</span></a></li>
						<li class="o8Gbgv"><a href="" class="FA0WjS" title=""
							target="_blank" rel="noopener noreferrer"><img
								class="_6ZyW8Y"
								src="https://cf.shopee.vn/file/f4f86f1119712b553992a75493065d9a"><span
								class="xTjlXx">LinkedIn</span></a></li>
					</ul>
				</div>
			</div>
			<div class="-96EVm">
				<div class="_0lbTUw syJk0q">© 2022 FandaFood. Tất cả các quyền
					được bảo lưu.</div>

			</div>
		</div>

	</footer>


</body>


</html>