<div class="container">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<h3 class="mb-4">
			Quản lý nhà hàng
			</h3>
				<form class="forms-sample" name="myForm">
			<p class="fs-18">Hình ảnh</p>
					<div class= "setting-img d-flex align-items-center mb-4">
						<div class="avatar-upload d-flex align-items-center">
							<div class=" change position-relative d-flex">
								<div class="avatar-preview" style="border-radius: 5px; border:1px solid #FC8019; width: 642px; height: 402px;">
								<img ng-if="formRest.mainImage != null" alt="" id="output" src="" width="640" height="400" ng-src="{{'/img/food/'+ formRest.mainImage}}">
									</div>
							<div class="change-btn d-flex align-items-center flex-wrap">
											<input type='file' class="form-control" 
											onchange="angular.element(this).scope().upload(this.files)" 
											id="imageUpload" accept=".png, .jpg, .jpeg" />
							<label for="imageUpload" class="dlab-upload">Chọn ảnh</label>
										</div>
										</div>
								</div>
								</div>
											
			<div class="row">
												<div class="col-xl-3 col-sm-3">
													<div class="setting-input">
														<label for="exampleInputtext" class="form-label">Tên nhà hàng</label>
														<input type="text" class="form-control" id="exampleInputtext" ng-model="formRest.name" placeholder="Hải sản Jico">
													</div>
													<br>
													<div class="setting-input">
														<label  class="form-label">Địa chỉ</label>
														<input type="text" class="form-control" id="exampleInputtext" ng-model="formRest.address" placeholder="Cần Thơ">
													</div>
													
												</div>
												
													<div class="col-xl-3 col-sm-3">
													<div class="setting-input">
														<label  class="form-label">Giờ mở cửa</label>
														<input type="time" class="form-control" ng-value="formRest.openTime">
													</div>
													<br>
													<div class="setting-input">
														 <label  class="form-label">Giờ đóng cửa</label>
														<input type="time" class="form-control" ng-value="formRest.closeTime">
													</div>

														
												</div>
												
												<div class="col-xl-3 col-sm-3">
													<div class="setting-input">
														<label  class="form-label">Số sao</label>
														
														<input type="text" class="form-control" ng-model="formRest.totalRate" min="0" placeholder="4">
													</div>
													<br>
													<div class="setting-input">
														 <label  class="form-label">Tên người dùng</label>
														 <br>
														<input type="email" class="form-control" ng-model="formRest.account.username" disabled="disabled">
													</div>												
													
												</div>
												
												<div class="col-xl-3 col-sm-3">
													<div class="setting-input">
														<label  class="form-label">Khu vực</label>
														<div  style="display: flex; gap: 15px;">
														<select name="loca"
								class="form-control wide mb-3 ms-0" required="required"
								id="exampleFormControlSelect1" ng-model="formRest.locationId.id">
								<option ng-repeat="y in locations" ng-value="y.id">{{y.location}}
								</option>

							</select>     
                                                    </div>
															</div>
												
													<div class="setting-input"  style="margin-top: 10px;">
														 <label  class="form-label">Trạng thái</label>
														<div  style="display: flex; gap: 15px;">
														<div class="form-check">
                                                        <input type="radio" ng-required="!formRest.active" ng-model = "formRest.active" ng-value="true" class="form-check-input" name="active" id="optionsRadios3">
                                                        <label class="form-check-label">
                                                            Hoạt động
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input type="radio" ng-required="!formRest.active" ng-model = "formRest.active" ng-value="false" class="form-check-input" name=""active"" id="optionsRadios4">
                                                        <label class="form-check-label">
                                                           Ngưng hoạt động
                                                        </label>
                                                    </div>
                                                    
                                                    </div></div>												
													
												</div>
												
												
												
											</div>
											
											<br>
				<div class="row d-flex justify-content-center">
					
					<div class=" d-flex justify-content-center" style="gap: 15px;">
					<button class="btn btn-primary" ng-click="update()">Cập nhật</button>
					<button class="btn btn-primary" ng-click="reset()">Làm mới</button>
					</div>
				</div>
			</form>
			
			
			</div>		
		</div>
	</div>
	
	<div class="card">
		<div class="card-body">
			<table>
				<tr>
					<th>ID</th>
					<th>Tên nhà hàng</th>
					<th>Địa chỉ</th>
					<th>Trạng thái</th>
					<th>Số sao</th>
					<th>Chức năng</th>
				</tr>
				
				<tr ng-repeat="i in restaurant" style="border-bottom: 1px solid #FC8019; align-items: center;">
					<td style="width: 50px;">{{i.restaurantId}}</td>
					<td style="width: 400px;">{{i.name}}</td>
					<td>{{i.address}}</td>
					<td style="width: 100px;">{{i.active?'Hoạt động':'Ngưng hoạt động'}}</td>
					<td style="width: 70px;">{{i.totalRate}}</td>
					<td style="width: 150px;">
						<button ng-click="edit(i.restaurantId)"
									class="btn tp-btn-light btn-light" style="margin-right: 5px">
									<i class="fas fa-pencil-alt"></i>
								</button>
					<button class="btn tp-btn-light btn-light" ng-click="delete(i.restaurantId, i.name)"><i class="bi bi-trash"></i></button>
					
					</td>
				</tr>
				
			</table>
		</div>
	</div>
</div>